/* setting initials formality */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

/*********** start mini header section ********/

.mini-header {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  background-color: black;
}

.mini-header a {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

/********* / mini header  ********/

/*********  start section main  *********/

main {
  display: flex;
  flex-grow: 1;
  background-color: red;
}

/********* / start section main  *********/

/*********  start section footer  *********/

footer {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: hsl(0deg 0% 13%);
}

/********* / section footer  *********/

/****** UTILITY ******/

/* class container  */

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* class that make a button  */

.btn {
  background-color: gray;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 0.6rem;
}

/****** / UTILITY ******/

/****** DEBUG ******/

/* .debug .mini-header {
  border: 1px solid black;
} */

/* .debug main {
  border: 1px solid green;
} */

/* .debug footer {
  border: 1px solid blue;
} */

/****** / DEBUG ******/
