/* setting initials formality */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.mini-header {
  width: 100%;
  height: 40px;
  display: flex;
}

main {
  display: flex;
  flex-grow: 1;
  background-color: red;
}

footer {
  display: flex;
  height: 50px;
  width: 100%;
}

/****** UTILITY ******/

/****** / UTILITY ******/

/****** DEBUG ******/

.debug .mini-header {
  border: 1px solid black;
}

.debug main {
  border: 1px solid green;
}

.debug footer {
  border: 1px solid blue;
}

/****** / DEBUG ******/
